*{
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
  

}

.body{
  background-color: rgb(83, 160, 228);
}

.nav-bar{
  height: 650px;
  max-width: 100%;
  background-image: url(/assets/the-sky-clouds-sunset-background-pink-hd-wallpaper-preview.jpg);
  background-size: cover;
  background-position: center;
 
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between ;
  padding-top: 15px;
  padding-left: 8%;
  padding-right: 0;
}

.heading{
  color :rgba(10, 18, 31, 0.664);
  font-size: 25px;
  letter-spacing: 4px;
  margin-left: 45px;
}

span{
  color: rgb(255, 255, 255);
}


#blog{
  margin-right: 25px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  text-transform: capitalize;
  background-color:rgb(149, 96, 247);
  margin-left: 15px;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 30px;
}

nav ul li a:hover{
  color:rgb(247, 41, 219);
  transition: 0.4s;
  background-color: rgb(255, 255, 255);
}

@media (max-width:600px){
  .box-rp{
    display: flex;
    flex-direction: column;
  }
}

.box-rp{
  text-align: center;
  color: rgb(39, 9, 66);
  margin-top: 30px;
  margin-left: 80px;
  align-content: center;
}

.box-kiri, .box-tengah, .box-tengah2, .box-kanan{
  width: 250px;
  height: 380px;
  background-color: rgb(223, 213, 221);
  text-align: center;
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 70px;
  margin: 70px 20px 20px 55px;
  border-radius: 5px;
  float: left;

  
}

.img-school{
  width: 70%;
  height: 80%;
}

.rp-title{
  margin-top: 40px;
  margin-bottom: 0;
}

.box-kiri:hover, .box-tengah:hover, .box-tengah2:hover, .box-kanan:hover{
  background-color: blueviolet;
  color: #ddd;
}








