*{
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;

}

.body{
  background-color: rgb(83, 160, 228);
}

.nav-bar{
  height: 800px;
  max-width: 100%;
  background-image: url(/assets/IMG_20200906_175855.jpg);
  background-size: cover;
  background-position:center;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between ;
  padding-top: 15px;
  padding-left: 8%;
  padding-right: 0;
}

.heading{
  color : white;
  font-size: 25px;
  letter-spacing: 4px;
  margin-left: 45px;
}

span{
  color: rgb(228, 162, 76);
}


#blog{
  margin-right: 25px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  text-transform: capitalize;
  background-color:rgb(228, 162, 76);
  margin-left: 15px;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 30px;
}


nav ul li a:hover{
  color: rgb(211, 161, 24);
  transition: 0.4s;
  background-color:rgb(248, 242, 233) ;
}


/* style blog */

#title-head{
  color: rgb(205, 216, 55);
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 40%;
}

.gallery{
  padding: 0 6px;
 
}

.poster{
  margin-top: 10px;
  margin-bottom: 15px;
  align-content: center;
  
}

.poster img{
  border: 1px solid rgb(241, 150, 13);
  border-radius: 2px;
  border-width: 3px;
  border-style: initial;
  height: auto;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0 6px;
  float: left; 
  
}

.poster img:hover{
  border: 1px solid rgb(228, 110, 13);
  border-width: 2px;
  border-style: dashed;
 
}

.container{
  color: rgb(185, 66, 11);
  background-color: rgb(255, 255, 255);
  border:1px solid rgb(116, 70, 9) ;
  border-width: 3px;
  border-radius: 6px;
  text-align: center;
  text-decoration-line:underline ;
  text-transform: uppercase;
  display: inline;
    
}
